{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}



{% block body %}
<div class="container-fluid">
    <div class="row">
        <aside class="bg-info sidebar col">
            <a href="{{ path('dashboard') }}" class="logo">Planner</a>
        </aside>
        <main class="content col">
            {% block content %}{% endblock %}
        </main>
    </div>
</div>
{% endblock %}
